body{
    font-family: 'Special Elite', cursive;
    background:#98f5cb;
}
.header_div{
    background: #f5e198;
    color: #0d0d0d;
}
.header_div img{
    width: 100px;
}
.main_div{
    background: #98f5cb;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid #ed9191;
}
.main_div label{
    background: #ed9191;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px #ed9191;
}
#camera{
    border: 2px solid #ed9191;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px #ed9191;
}
.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px #ed9191;
    border: 1px solid;
}
.footer_div{
    margin-bottom: 50px;
}
.footer_div h4{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow:  5px 5px 18px white;
}
.footer_div img{
    width: 70px;
}
.copy_right_footer{
    position: fixed;
    color: crimson;
    bottom: 0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
}